body{
 
  background-image: url('C:\Users\BEST\OneDrive\Bureau\checkpointRouter\public\images\home.jpg');
  background-size: cover;
  background-position: center;
}
  .App {
  
    margin: 0px 100px;
    font-weight: 400;
  
    font-family: Roboto,Arial,sans-serif;
    color: #ede4e4;
    padding: 10px 0px;
     -webkit-font-smoothing: antialiased;
     text-align: center;
  }
  
  




